<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кубок ФОПФа</title>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load staticfiles %}
    <link href="{% static 'dota/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="{% static 'dota/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dota/bootswatch.css' %}" rel="stylesheet">
    <link href="{% static 'dota/variables.css' %}" rel="stylesheet">

    <link href="{% static 'dota/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    {% include 'dota/nav.html' %}
    {% include 'dota/messages.html' %}

    <div class="container-fluid main">
{#        <div class="row">#}
{#            <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">#}
                {% block content %}
                {% endblock %}
                {% include 'dota/footer.html' %}
{#            </div>#}
{#        </div>#}
    </div>
</div>
</body>
</html>
