<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кубок ФОПФа</title>

    {% load staticfiles %}
    <link href="{% static 'dota/style.css' %}" rel="stylesheet">


</head>
<body>
    <nav>
        <div class="controls">
            <ul>
                <li><a href="{% url "dota:article_list" %}">Новости</a></li>
                <li><a href="{% url "dota:tournament" %}">Турнир</a></li>
                <li><a href="{% url "dota:live" %}">Трансляция</a></li>

            </ul>
        </div>
        <div class="profile">
            {% if page_obj.0 %}
                <p>Hello, user</p>
            {% else %}
                <li><a href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'dota:index' %}">Войти через vk</a></li>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
