{% load staticfiles %}
<footer class="footer">
    <div class="container">
        <span>Сенат ФОПФ &copy; 2016</span> |
        <span>По всем вопросам:
            <a href="http://vk.me/smnnk">Паша</a>,
            <a href="http://vk.com/morozko123">Леша</a>,
            <a href="http://vk.me/id226132239">Никита</a>
        </span> |
        <span><a href="{% url "dota:team" %}">Регистрация на турнир</a></span>
        <div class="sponsors">
            <a href="http://vk.com/dgapmipt"><img class="logo" src="{% static 'dota/sponsors/senate_inv_small.png' %}"></a>
            <a href="http://phystech.store"><img class="logo" src="{% static 'dota/sponsors/phystechstore_inv_small.png' %}"></a>
            <a href="http://veryfood.ru"><img class="logo" src="{% static 'dota/sponsors/veryfood_small.png' %}"></a>
            <a href="http://print.mipt.ru"><img class="logo" src="{% static 'dota/sponsors/Printer_small.png' %}"></a>
        </div>
    </div>
</footer>
