@red-color: #c33d2b;
@dark-red-color: #64281f;
@footer-color: #7a8288;

@media (min-width: 768px) {
  .main, nav .container-fluid {
    max-width: 680px; // old 730
  }
}

body {
  padding-top: 70px;
}

.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
.navbar-right {
  margin-right: 0px;
}

.panel-group .panel {
  margin-bottom: 20px;
}
//.main .article {
//  border-radius: 10px;
//  border: 2px solid gray;
//  padding: 15px;
//  margin-bottom: 10px;
//}

.panel h1, h2, h3, a {
  color: @red-color;
}
.panel h1, h2, h3 {
  margin-top: 10px;
}

.messages .alert {
  background-color: @dark-red-color;
  border-color: @dark-red-color;
  p {
    color: #d7d7d7;
  }
}

.article-img {
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

/*
footer span {
  color: #7a8288;
  ::after {
    content: " | ";
  }
}
*/

.team-members {
  padding-left: 0px; //needed if <ul> instead of <div> used
  li {
    list-style: none outside none;
  }
  a {
    //text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}

table {
  //border-collapse: collapse;
  //border: 3px solid @footer-color;
  a {
    color: inherit;
    font-weight: bold;
  }
}
/*
table.draw, td, th {
  border-bottom: 1px solid @footer-color;
  text-align: center;
  padding: 10px;
  }*/


footer {
  color: @footer-color;
  padding-bottom: 20px;
  text-align: center;
  a {
    color: darken(@footer-color, 20%);
  }
  .sponsors {
    padding-top: 10px;
    img {
      width: 150px;
      padding-right: 20px;
    }
  }
}

