@media (min-width: 768px) {
  .main,
  nav .container-fluid {
    max-width: 680px;
  }
}
body {
  padding-top: 70px;
}
.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.container-fluid {
  padding: 0px;
}
.navbar {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}
.navbar-right {
  margin-right: 0px;
}
.panel-group .panel {
  margin-bottom: 20px;
}
.panel h1,
h2,
h3,
a {
  color: #c33d2b;
}
.panel h1,
h2,
h3 {
  margin-top: 10px;
}
.messages .alert {
  background-color: #64281f;
  border-color: #64281f;
}
.messages .alert p {
  color: #d7d7d7;
}
.article-img {
  border-radius: 3px;
  overflow: hidden;
}
.article-img img {
  width: 100%;
}
/*
footer span {
  color: #7a8288;
  ::after {
    content: " | ";
  }
}
*/
.team-members {
  padding-left: 0px;
}
.team-members li {
  list-style: none outside none;
}
.team-members a {
  color: inherit;
  font-weight: bold;
}
footer {
  color: #7a8288;
  padding-bottom: 20px;
  text-align: center;
}
footer a {
  color: #4a4f52;
}
footer .sponsors {
  padding-top: 10px;
}
footer .sponsors img {
  width: 150px;
  padding-right: 20px;
}
